#cursor {
  width: 12rem;
  height: 12rem;
  position: fixed;
  top: -6rem;
  left: -6rem;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 200;
}

#cursor-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffcf72;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}
