/**
 * Fonts
*
@font-face {
  font-family: 'icons_xx';
  src: url('../fonts/icons_xx.eot?39831085');
  src: url('../fonts/icons_xx.eot?39831085#iefix') format('embedded-opentype'),
  url('../fonts/icons_xx.woff?39831085') format('woff'),
  url('../fonts/icons_xx.ttf?39831085') format('truetype'),
  url('../fonts/icons_xx.svg?39831085#icons_xx') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/
