:root {
  font-size: 62.5%;
}

.no-select {
  @include prefix(user-select, none);
}

body,
html {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  @include text-selection($white, red);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: radial-gradient(circle at 94.67% 48.95%, #0a0a0a, transparent 49%),radial-gradient(circle at 1.87% 94.61%, #000000, transparent 31%),radial-gradient(circle at 8.00% 23.95%, #0a0a0a, transparent 96%),radial-gradient(circle at 51.87% 63.16%, #171919, transparent 39%),radial-gradient(circle at 50% 50%, #030303, #030303 100%);
}

a,
button {
  cursor: none;
}
