.container-social {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  z-index: 1;

  .item-social {
    margin: 2rem 0;

    img {
      width: 3.2rem;
      height: auto;
    }
  }
}

@include respond-to('medium') {
  .container-social {
    flex-direction: row;

    .item-social {
      margin: 0 1.5rem;
    }
  }
}
